@charset "UTF-8";
@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
header{
    background-image: linear-gradient(to top, #123421 , #36b770ce);
    margin: 0px 0px 0px 0px;
}
h1#titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.905);
    font-style: normal;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.456);
}
h3#cabeçalho{
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
    width: 513px;
    margin: auto;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.24);
}
nav{
    padding-left: 65px;
    padding-top: 47px;
}
nav > a{
    text-decoration: none;
    padding-right: 10px;
    color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: -21px 0px 0px 0px;
    background-color: #84E1AD;
    text-indent: 30px;
}
main{
    margin: 0px 75px 0px 75px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 6px 6px #0000009b;
}
section#principal{
    padding: 0.2px;
    background-color: rgba(5, 44, 9, 0.621);
}
section#midias{
    background-color: #19492e;
    padding: 20px;
}
section#extra{
    background-color: #bbfed8;
    padding: 8px;
    margin-top: -20px;
    border-radius: 0px 0px 10px 10px;
    text-indent: 30px;
}
section#extra > h4{
    background-color: #19492e;
}
h1{
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #21613E;
}
h2{
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #19492e;
    background-color: #84E1AD;
    box-shadow: 7px 3px 12px 3px #4a7d602d
}
img{
    display: block;
    margin: 0px auto;
}
header#extra{
    background-color: #369860;
    margin-top: 14px;
    padding: 1px 0px 6px 0px;
    margin-bottom: -10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    text-indent: 14px;
}
header#extra > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    text-indent: 14px;
}
footer{
    background-color: #123421;
    color: white;
    text-align: center;
}
iframe{
    width: 93%;
    height: 60vh;
}